<!doctype html>
<html>
	<head>
        <div class="header" id="id_header_div">
            <meta charset="utf-8">
            {% load static %}
            <link href="{% static 'data_management.css' %}" rel="stylesheet" type="text/css">
            <div class="big-heading" id="id_site_name">
                Hacker Fab Database
            </div>
            <a href="{% url 'central' %}" id="id_nav_central_stream">
                <button>Chip Summary</button>
            </a>
            <a href="{% url 'input' %}" id="id_nav_global_stream">
                <button>Input</button>
            </a>
            <a href="{% url 'search' %}" id="id_nav_follower_stream">
                <button>Search</button>
            </a>
            <a href="{% url 'logout' %}" id="id_nav_logout">
                <button>Logout</button>
            </a>
			<a href="https://github.com/hacker-fab" id="id_github" style="float: right">
                <button>Github</button>
            </a>
            <a href="https://hacker-fab.gitbook.io/hacker-fab-space" id="id_gitbook" style="float: right">
                <button>Gitbook</button>
            </a>
            <a href="{% url 'mypfp' %}" id="id_nav_profile">
                <button>{{request.user.first_name}} {{request.user.last_name}}</button>
            </a>
        </div>
	</head>

	<body>
	    <div class="user-info">
			{% block user-info %}
			{% endblock %}
	    </div>

	    <div class="search-bar">
			{% block search-bar %}
			{% endblock %}
		</div>

		{% if message %}
	        <div class="message">
	            {{message}}
	        </div>
	    {% endif %}

	    <div class="content">
		    {% block content %}
		    {% endblock %}
		</div>
	</body>
</html>