<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title> Hacker Fab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'data_management.css' %}">
</head>
<body>
    <div class = "message" id="message"> {{ message }} </div>
    <div id="menu">
      <form class="main_menu" action="/" method="POST">
        <button id="main_menu">Main Menu</button>
      {% csrf_token %}
      </form>
    </div>
    <form name="form1" id="form1" action="/input" method="POST">
        <select name="Process" id="process" name="new_process">
          <option value="" selected="selected">Select Process</option>
          {% for process in processes %}
            <option value="{{process.id}}"> {{process.name}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Submit">
        {% csrf_token %}
    </form>
    <div id="matrix">
      <form name="form2" id="form2" action="/input" method="POST">
        {% for cell in matrix %}
            <div class="{{cell.id}}" id="{{cell.id}}"> <p><dfn title="insert explanation here">{{cell.name}}</dfn></p></div>
            <input id="value_text" type=text name=name><br>
        {% endfor %}
        {% if matrix %}
          <input type="submit" value="Submit">
        {% endif %}
        {% csrf_token %}
      </form>
    </div>
</body>
</html>