<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hacker Fab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'data_management.css' %}">
</head>
<body>
    <div id="menu">
        <form class="main_menu" action="/" method="POST">
          <button id="main_menu">Main Menu</button>
        {% csrf_token %}
        </form>
    </div>
    <form action="search" method="POST">
        <div class = "process_sort" id="process_sort"> Select Processes to Sort By </div>
        {% for process in processes %}
            <input type="checkbox" id="{{process.id}}" name=" {{process.name}}" value=" {{process.name}}">
            <label for="{{process.id}}"> {{process.name}}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
        {% csrf_token %}
    </form>
    
    <div id="matrix">
        <form name="form2" id="form2" action="/search" method="POST">
          {% for cell in matrix %}
            <div class="{{cell.id}}" id="{{cell.id}}"> {{cell.name}} </div>
            <input id="value_text" type=text name=name><br>
          {% endfor %}
          {% if matrix %}
            <input type="submit" value="Submit">
          {% endif %}
          {% csrf_token %}
        </form>
      </div>
</body>
</html>