<!doctype html>
<html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <title>Hacker Fab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'data_management.css' %}">
    <style>
      table, th, td {
        border:1px solid black;
      }
      </style>
</head>
<body>
    <form action="search" method="POST">
        <div class = "process_sort" id="process_sort"> Select Processes to Sort By </div>
        {% for process in processes %}
            <input type="checkbox" id="{{process.id}}" name=" {{process.name}}" value=" {{process.name}}">
            <label for="{{process.id}}"> {{process.name}}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
        <input type="hidden" name="status" value="Initial">
        {% csrf_token %}
    </form>

    {% if link_id %}
      <div class="csv"> 
        <a href="{% url 'csv_output' link_id %}"> Click to Download CSV</a>
      </div>

      <table style="width:100%">
      {% for process_info in output %}
        {% for column_name, value in process_info.items %}
          {% if column_name == "picture" %}
            <tr>
              <th> {{ column_name }} </th>
              <td> 
                <img src="{% url 'photo' process_info.process process_info.id%}" width="400" height="300" id="id_user_picture">
              </td>
          </tr>
          {% else %}
            {% if column_name != "process" %}
              <tr>
                  <th> {{ column_name }} </th>
                  <td> {{ value }} </td>
              </tr>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </table>
    {% endif %}
    
    {% if used_process %}
      <form action="search" method=POST enctype="multipart/form-data">
        {% for f in forms %}
          {{f.name}}
          <table>
              {{f.form}}
          </table>
        {% endfor %}
        <button  id="id_update_profile_button">Submit</button>
        <input type="hidden" name="status" value="Secondary">
        <input type="hidden" name="used_process" value={{used_process}}>
        {% csrf_token %}
    </form>
  {% endif %}
  
</body>
</html>
{% endblock %}